.scorebar {
    background-image: url(/public/image/bg_strength_gradient.jpg);
    background-repeat: no-repeat;
    /* background-position: 0px; */
    background-position: 0 0;
    /* position: absolute; */
    width: 100px;
    z-index: 0;
}