.card {
    margin: 2% 2% 2% 2%;
}

.card-box {
    padding: 20px;
}

.organizer-box {
    margin: 2% 2% 2% 2%;
    width: 95%;
    /* height: 200px; */
    /* float: left; */
}

.user-icon {
    margin: 0 0 0 0;
    position: relative;
}

.user-icon img {
    height: 50%;
    width: 50%;
    margin: 10% 5% 5% 5%;
}

.user-icon p {
    margin-bottom: 3%;
    margin-right: 2%;
    font-size: 120%;
    margin: 35% 15% 2% 2%;
    float: right;
}


/*
.qrcode-box {
    margin: 2% 2% 2% 2%;
    height: 200px;
    float: left;
    display: block;
}

#qrcode-table {
    height: calc(200px - 20px);
    width: auto;
    float: left;
}

.qrcode-box p {
    margin: 0 0 0 10px;
    float: left;
}
*/

.dropdown {
    margin: 20px;
    text-align: right;
}

.attendance-table {
    margin: 20px;
}

.attendance-table .user-icon p {
    margin-top: 25%;
    left: 65%;
    font-size: 95%;
}

.attendance-table .user-icon img {
    width: 45%;
    height: 45%;
    margin: 2% 2% 2% 2%;
}

.attendance-table .dropdown {
    width: 9;
    margin: 20% 0 0 0;
    text-align: left;
}

.table td,
.table th {
    padding: 3%;
    font-size: 70%;
    border-top: 1px solid #dee2e6;
}

h2 {
    margin: 3% 0 0 3%;
}


/*
.svg {
    width: 50px;
    display: block;
}
*/