.card-columns {
    display: inline;
}

.event-box {
    min-height: 700px;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.event-box .card {
    margin: 5% 0% 5% 0%;
}

.event-box .card,
.event-box .card img {
    width: 100%;
}

.event-image {
    height: 200px;
    object-fit: cover;
}

a.card-rink {
    color: #212529;
    text-decoration: none;
}

.card:hover {
    background-color: rgb(245, 245, 245);
    transition: background-color 200ms;
}

.card-body .day {
    float: right;
}

.card-body .event-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body .map {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info {
    float: right;
    margin: 1% 1% 1% 1%;
}

.user-info p {
    float: left;
    margin: 0 10px 10px 0;
}

.card-body .user-info .user-img {
    width: 20px;
}

#add-button {
    display: flex;
    width: 70px;
    height: 70px;
    background: #17CD3B;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
    position: fixed;
    justify-content: center;
    bottom: 20px;
    right: 20px;
}

#add-button:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#add-button .add-icon {
    width: 50px;
    height: auto;
}