.profile-img {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20%;
    align-items: center;
}

.profile {
    width: 80%;
    float: right;
}

.card.login-card ul {
    list-style: none;
}

.change-confirm-buttons :first-child {
    margin-right: 10%;
}

/* .card.login-card .btn {
     margin-left: 80%;
     position: absolute;
     right: 20px;
}  */

.password-change {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    /* float: left; */
    width: 95%;
    height: auto;
    margin: 2% 2% 2% 2.5%;
    /* padding: 20px; */
    display: inline-block;
}

.card .title-card{
    margin: 1% 1% 1% 1%;
}

.login-card {
    width: 95%;
    /* min-width: 35%; */
}

.login-title{
    margin: 1% 1% 1% 1%;
}

.login-err-text {
    color: red;
    display: none;
}

.login-button {
    margin: 2% 2% 2% 2%;
    /* position: absolute; */
    white-space: nowrap;
    float: right;
}

.btn-mypage {
    margin: 2% 2% 2% 2%;
    white-space: nowrap;
    float: right;
}

.login-err {
    display: none;
}

.create-sign{
    margin: 2% 2% 0% 2%;
    float: left;
}

.form-group{
    margin: 2% 2% 2% 2%;
}

.form-control{
    width: 98%;
}

.playsize{
    width: 28.5% ;
    height: auto;
    /* height: 30%; */
}

.minesize{
    width: 36.5%;
    height: auto;
    /* height: 40%; */
}

.pcIphonesize{
    width: 31.5%;
    height: auto;
    /* height: 25%; */
}

.card .explanation{
    font-size: 100%;
}

.card .title {
    font-size: 210%;
}

.card .subtitle{
    font-size: 100%;
}

.card .img-group{
    margin: 1% 1% 1% 1%;
}