input {
    margin: 0 0 15px 0;
}

.navbar a img {
    width: 40px;
    height: auto;
}

.detail-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.day-box {
    background-image: url(http://192.168.137.1:8080/public/image/svg/day_icon.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    float: left;
    margin: 10px;
}

.held-date {
    float: left;
    position: relative;
    top: 10px;
    left: -110px;
    opacity: 0;
    width: 100px;
    height: 100px;
    padding: 0px;
}

.held-date[type="datetime-local"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    margin: 0;
}

.event-top {
    position: relative;
    text-align: center;
}

.event-name {
    text-align: left;
    width: 80%;
}

.event-img {
    width: 800px;
    height: auto;
    background-color: lavender;
    object-fit: cover;
    max-height: 800px;
}

.send-event-img {
    display: none;
}

.create-day {
    float: right;
}

.text-right {
    text-align: right;
}

.nickname {
    display: inline;
}

.user-icon {
    margin: 20px 0 0 0;
}

.text-right .user-img {
    height: 35px;
    width: auto;
}

.text-right .participation-event {
    background-color: #00152C;
    color: #fff;
    margin: 0 0 0 30px;
    float: right;
}

.text-right .participation-event:disabled {
    cursor: auto;
}

.text-right .under-button {
    float: none;
}

.cancel {
    display: none;
}

.cancellation {
    display: none;
}

.event-box {
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
}

.event-box .map {
    float: left;
}

.tag-box {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 30px 10px 0 10px;
    padding: 10px;
}

.tag-box .tag-card {
    float: left;
}

.tag-box .tag-card img {
    width: 25px;
    margin: 0 0 0 10px;
}

.clear-float {
    display: inline-block;
}